CompileFlags:
  Add:
    - -std=c++17
    - -IC:/msys64/mingw64/include/c++/13.2.0
    - -IC:/msys64/mingw64/include/c++/13.2.0/x86_64-w64-mingw32
    - -IC:/msys64/mingw64/include/c++/13.2.0/backward
    - -IC:/msys64/mingw64/include
    - -ferror-limit=0

